<!doctype html>
    <head>
        <meta charset="utf-8">
        <title>Tokenly - get involved</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/unsemantic.css">
    </head>
    <body>

        <div id="navigation-bar" class="with-logo">
            <a href="/"><div id="logo"></div></a>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Forum</a></li>
            </ul>
        </div>
        <div id="top-background" class="small-height">
            <div class="gradient">
                <h1 class="title">What the heck are Tokens?</h1>
            </div>
        </div>

        <div class="content-width">
            <div class="table-box">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/HOrDP7zQy2M" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="table-box">
                <h3>Some title</h3>
                <p>One of the biggest pain points in software exists at the intersection of sales and the replicability of data. Digital Rights Management (DRM) hasn't been what you would call a great success. Too many others have already said it well for me to waste your time rehashing why DRM is a problem, but the outcome is relevant. DRM doesn’t work. At Tokenly, we're creating other options.</p>
            </div>

            <div class="clearfix"></div>

            <div class="help-content">
                <h3>Some title</h3>
                <p>One of the biggest pain points in software exists at the intersection of sales and the replicability of data. Digital Rights Management (DRM) hasn't been what you would call a great success. Too many others have already said it well for me to waste your time rehashing why DRM is a problem, but the outcome is relevant. DRM doesn’t work. At Tokenly, we're creating other options.</p>
            </div>
            <div class="clearfix"></div>
        </div>

    
        <div id="footer">
            <div class="content-width">
                <div class="footer-segment">
                    Tokenly<br>
                    Address 1<br>
                    Address 2<br>
                    United States
                </div>
                <div class="footer-segment">
                Some more informations in the footer.
                </div>
                <div class="footer-segment">
                Awesome icons provided by <a href="https://icons8.com/">Icons8</a>
                </div>
            </div>
        </div>

        <script src="scripts/vendor.js"></script>
    </body>
</html>
