<!doctype html>
    <head>
        <meta charset="utf-8">
        <title>Tokenly | Limitless Tokens for a Tokenless World</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/unsemantic.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>

        <div id="navigation-bar">
            <a href="/"><div id="logo"></div></a>
            <ul>
                <li><a href="https://letstalkbitcoin.com/blog/tokenly" target="_blank"><i class="fa fa-pencil"></i> Blog</a></li>
                <li><a href="#"><i class="fa fa-lightbulb-o"></i> About Us</a></li>
                <li><a href="#services"><i class="fa fa-globe"></i> Services</a></li>
                <li><a href="https://github.com/tokenly" target="_blank"><i class="fa fa-github-alt"></i> Github</a></li>
                <li><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
            </ul>
        </div>
        <div id="top-background" class="full-height">
            <div class="gradient">

                <!-- HEAD SECTION -->
                <div id="details">
                    <div id="details-logo"></div>
                    <div id="details-content">
                        <div><img src="images/icons/coins.png">Tokens are Digital Gift Certificates you hold like cash in a digital wallet.</div>
                        <div><img src="images/icons/medal.png">Dirt Cheap, Person to Person, Transparently Auditable and built on Bitcoin</div>
                        <div><img src="images/icons/hub.png">Issued by and redeemable with each creating merchant or individual</div>
                        <div><img src="images/icons/conference.png">Enabling trustless Rewards, Coupons, Wholesale, Presale, Gift Exchanges and more</div>
                        <div><img src="images/icons/github.png">Tokens Change Everything, What Will You Do?</div>
                    </div>
                </div>

            </div>
        </div>
        <h2 class="section-header">How can we help you?</h2>
        <div class="vertical-container">
            <div class="content-width">

                <a href="help.html">
                    <div class="info-box red-box">
                        <div class="info-icon question"></div>
                        Help!<br>I have no idea<br>what’s going on.
                    </div>
                </a>

                <a href="#get-started">
                    <div class="info-box green-box">
                        <div class="info-icon cloud"></div>
                        Get started<br>using tokens
                    </div>
                </a>

                <a href="involved.html">
                    <div class="info-box blue-box">
                        <div class="info-icon hammer"></div>
                        Get involved<br>building<br>Tokenly
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
        <a name="services"></a>
        <div class="vertical-container gradient">
            <h2 class="section-header">Our products & services</h2>
            <div class="content-width">
                <div class="swap-box">
                    <h3><i class="fa fa-exchange"></i> SwapBot <span>Automated Sales</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						Fully automated user agents which can sell (or buy!) tokens 24/7 in exchange for bitcoin or other types of tokens.
                    </p>
                    <div class="line-separator"></div>
                    <a href="https://redeem.tokenly.com/redeem/4" target="_blank">Create your Swapbot <div class="icon-next"></div></a>
                </div>
                <div class="swap-box">
                    <h3><i class="fa fa-shopping-cart"></i> TokenSlot + Tend <span>Payments & Token Redemption</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						Accept tokens as payment in your website or application, or accept them as redemption for your product or service. 
						Bitcoin, alt-coin and dollar payments also supported.
                    </p>
                    <div class="line-separator"></div>
                    <a href="https://redeem.tokenly.com/redeem/5" target="_blank">Become a Merchant <div class="icon-next"></div></a>
                </div>
                <div class="swap-box">
                    <h3><i class="fa fa-btc"></i> Tokenly Pockets <span>Multi-purpose Bitcoin Wallet</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						User friendly, easy to use Counterparty compatible Chrome extension wallet with value added services, including 
						token specific branding.
                    </p>
                    <div class="line-separator"></div>
                    <a href="http://pockets.tokenly.com" target="_blank">Download Wallet <div class="icon-next"></div></a>
                </div>                
                <div class="clearfix"></div>
                <div class="swap-box coming-soon">
                    <h3><i class="fa fa-code-fork"></i> BitSplit <span>Distribution & Payment Routing</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						Mass distribute Counterparty tokens and create automated payment routing addresses for advanced use cases.
                    </p>
                    <div class="line-separator"></div>
                    <a href="#" target="_blank">Distribute Tokens <br>(coming soon)</a>
                </div>
                <div class="swap-box coming-soon">
                    <h3><i class="fa fa-plus"></i> Token Registrar <span>Enhanced Token Data</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						Easily register tokens and attach additional data to them.
                    </p>
                    <div class="line-separator"></div>
                    <a href="#" target="_blank">Register a Token <br>(coming soon)</a>
                </div>
                <div class="swap-box coming-soon">
                    <h3><i class="fa fa-key"></i> Tokenly Accounts <span>Token Controlled Access</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						Global accounts system for interaction within the Tokenly ecosystem.
                    </p>
                    <div class="line-separator"></div>
                    <a href="#" target="_blank">View API <br>(coming soon)</a>
                </div>                
                <div class="clearfix"></div>                
                <div class="swap-box">
                    <h3><i class="fa fa-cogs"></i> XChain <span>Server Wallet API</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						Server wallet and blockchain monitoring API for the Bitcoin and Counterparty protocols.
						Serves as the backend infrastructure for Tokenly services.
                    </p>
                    <div class="line-separator"></div>
                    <a href="https://github.com/tokenly/xchain" target="_blank">Go to Github <div class="icon-next"></div></a>
                </div>
                <div class="swap-box">
                    <h3><i class="fa fa-users"></i> Tokenly CMS <span>Community Platform</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						Blog, forum and content management platform designed to integrate with Tokenly tools
						and use cryptocurrency natively.
                    </p>
                    <div class="line-separator"></div>
                    <a href="https://github.com/tokenly/tokenly-cms" target="_blank">Go to Github <div class="icon-next"></div></a>
                </div>
                <div class="swap-box coming-soon">
                    <h3><i class="fa fa-gavel"></i> Token Auctions <span>Sell Tokens to the Highest Bidder</span></h3>
                    <div class="line-separator"></div>
                    <p class="swap-description">
						Token to token auction house with unique bidding system.
                    </p>
                    <div class="line-separator"></div>
                    <a href="#" target="_blank">Start an Auction<br> (coming soon)</a>
                </div>                
                <div class="clearfix"></div>                  
            </div>
        </div>

        <h2 class="section-header">Our team</h2>
        <div class="vertical-container team-container">
            <div class="team-member adam">
                <div class="avatar"></div>
                <div class="name">Adam B. Levine</div>
                <div class="position">Founder &amp; CEO</div>
            </div>
            <div class="team-member nick">
                <div class="avatar"></div>
                <div class="name">Nick Rathman</div>
                <div class="position">Co-Founder &amp; Chief Architect</div>
            </div>
            <div class="team-member devon">
                <div class="avatar"></div>
                <div class="name">Devon Weller</div>
                <div class="position">Co-Founder &amp; CTO</div>
            </div>
            <div class="team-member steven">
                <div class="avatar"></div>
                <div class="name">Steven Levine</div>
                <div class="position">Co-Founder &amp; CFO</div>
            </div>
            <div class="clearfix"></div>
        </div>
		<a name="contact"></a>
        <div class="vertical-container mail-container gradient">
            <div class="content-width mail-segment">
                <!-- <div class="mail-box green-box"></div> -->
                <h3>Contact Us</h3>
                <div class="email-icon"></div>
                <div class="mail-content">
                    Curious about possibilities?<br>
                    <b>Leave us your email!</b><br>
                    <form action="/" method="POST">
                        <input type="text"> <input type="submit" value="" class="icon-next">
                    </form>
					<p>
						Or email us at <a href="mailto:team@tokenly.com">team@tokenly.com</a>
					</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    
        <div id="footer">
            <div class="content-width">
                <div class="footer-segment">
					<p class="tagline">Copyright &copy; 2015 Tokenly Inc.</p>
					<small>Website development by <a href="mailto:sales@ironcladtech.ca">IronClad Web Technologies</a></small>
				
                </div>
                <div class="footer-segment">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Contact Us</a></li>						
					</ul>
					<ul>
						<li><a href="#">Github</a></li>
						<li><a href="#">Introduction to Tokens</a></li>
						<li><a href="#">Getting Started</a></li>
						<li><a href="#">Get Involved</a></li>					
					</ul>
					 <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <script src="scripts/vendor.js"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>
