<!doctype html>
    <head>
        <meta charset="utf-8">
        <title>Tokenly - get involved</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/unsemantic.css">
    </head>
    <body>

        <div id="navigation-bar" class="with-logo">
            <a href="/"><div id="logo"></div></a>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Forum</a></li>
            </ul>
        </div>
        <div id="top-background" class="small-height">
            <div class="gradient">
                <h1 class="title">How to get involved with Tokenly?</h1>
            </div>
        </div>

        <div class="content-width">
            <div class="table-box">
                <h3>Developers</h3>
                <div class="line-separator"></div>
                <ul>
                    <li><a href="#">Getting started</a></li>
                    <li><a href="#">Public Forums</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Create your project in the Tokenly ecosystem</a></li>
                </ul>
            </div>

            <div class="table-box table-separator">
                <h3>Investors</h3>
                <div class="line-separator"></div>
                <ul>
                    <li><a href="#">Read our business plan</a></li>
                    <li><a href="#">Equity and structure</a></li>
                    <li><a href="#">Ask questions in our private investor area</a></li>
                    <li><a href="#">Give us your money</a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="vertical-container gray">
            <div class="content-width">
                <div class="swap-box swap-involved">
                    <h3>Developer<br> TCA Vend</h3>
                    <div class="line-separator"></div>
                    <br><br><a href="#" target="_blank">Go to the swapbot <div class="icon-next"></div></a>
                </div>

                <div class="swap-box">
                    <h3>Investor<br> TCA Vend</h3>
                    <div class="line-separator"></div>
                    <br><br><a href="#" target="_blank">Go to the swapbot <div class="icon-next"></div></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    
        <div id="footer">
            <div class="content-width">
                <div class="footer-segment">
                    Tokenly<br>
                    Address 1<br>
                    Address 2<br>
                    United States
                </div>
                <div class="footer-segment">
                Some more informations in the footer.
                </div>
                <div class="footer-segment">
                Awesome icons provided by <a href="https://icons8.com/">Icons8</a>
                </div>
            </div>
        </div>

        <script src="scripts/vendor.js"></script>
    </body>
</html>
